@import "src/styles/variables";

.notification-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  background: white;
  width: calc(100% - 32px);
  height: calc(100% - 32px);
  top: 0;
  left: 0;
  z-index: 3;
  border-bottom: 1px solid $gray-color;
  box-shadow: 0 10px 15px -20px;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 10px;

    > h4 {
      margin: 0;
      font-weight: 500;
      height: 22px;
    }

    &__form {
      display: flex;
      gap: 10px;
    }
  }

  &__submit-btn {
    min-width: 50px;

    &--loading {
      padding: 0 12px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow-y: scroll;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    border-bottom: 1px dotted $gray-color;
    padding-bottom: 8px;

    &__title {
      font-weight: 300;

      > b {
        text-transform: capitalize;
        font-weight: 600;
      }
    }

    &__price {
      font-weight: 500;
    }
  }
}
