// Colors
$main-color: #192837;
$primary-color: #ffd94b;
$gray-color: #d2d7dd;
$green-color: #10a073;
$red-color: #d77171;

// Sizes
$desktop-mini: 900px;
$mobile: 500px;

// Fonts
$main-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;

// Other
$base-shadow: rgba($main-color, .5) 3px 1px 8px -2px, rgba(white, .8) -3px -1px 8px -2px;
