@import "../../../styles/variables";

.card-button {
  $card-button: &;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 5px;
  background: white;
  box-shadow: $base-shadow;
  border-radius: 4px;
  transition: all .3s;
  height: 22px;
  width: 22px;

  $disabled-shadow: rgba($main-color, .5) 0 0 8px -4px, rgba(white, .8) 0 0 8px -4px;

  &:hover {
    box-shadow: rgba($main-color, .5) 3px 1px 8px -1px, rgba(white, .8) -3px -1px 8px -1px;

    &:disabled {
      box-shadow: $disabled-shadow;
    }

    #{ $card-button }__badge {
      transform: scale(1.1);
    }
  }

  &:disabled {
    box-shadow: $disabled-shadow;
  }

  &--active {
    background: black;
    color: white;
  }

  &__badge {
    position: absolute;
    color: black;
    background: $primary-color;
    padding: 2px 4px;
    font-size: 8px;
    font-weight: 600;
    top: -4px;
    right: -6px;
    border-radius: 4px;
    box-shadow: $base-shadow;
    transition: all .3s;
  }
}
