@import "src/styles/variables";
@import "src/styles/mixins";

.pair-item {
  display: flex;
  min-height: calc(202px - 18px);
  flex-direction: column;
  flex: 0 0 calc(50% - 40px);
  padding: 16px 16px 0;
  border: 1px solid $gray-color;
  border-radius: 8px;
  box-shadow: 0 10px 15px -20px;
  overflow: hidden;

  @include desktop-mini {
    flex: 0 0 calc(33.3% - 42px);
  }

  @include mobile {
    flex: 1 1 100%;
  }

  &__exchange {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 2px;
  }

  &__symbol {
    display: flex;
    align-items: center;
    font-weight: 700;
    margin-bottom: 4px;
  }

  &__percent {
    margin-left: 6px;
    border-radius: 4px;
    color: white;
    padding: 2px 4px;
    font-size: 12px;

    &--green {
      background-color: $green-color;
    }

    &--red {
      background-color: $red-color;
    }

    &--normal {
      background-color: $gray-color;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__actual-price {
    font-weight: 500;

    &--green {
      color: $green-color;
    }

    &--red {
      color: $red-color;
    }
  }

  &__volume {
    font-size: 12px;
    margin-top: 2px;

    > b {
      font-weight: 500;
      margin-right: 2px;
    }
  }

  &__middle-volume {
    opacity: .5;
    margin-left: 2px;
  }

  &__volume-percent-diff {
    margin-left: 4px;
    font-weight: 500;
  }

  &__chart {
    width: calc(100% + 25px * 2);
    margin: 10px -25px 0;
  }

  &__loading-state {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-bottom: 30px;
  }
}
