@import "../../../styles/variables";

.app-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: $primary-color;
  outline: none;
  border-radius: 6px;
  padding: 6px 12px;
  color: black;
}
